<a href="https://colab.research.google.com/github/giulialvaro/python-levelup/blob/main/Clase_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comentarios

In [ ]:
# Comentario basico
""" Comentario
multilinea"""
'Comentario con un "comentario" adentro'

'Comentario con un "comentario" adentro'

# Funci贸n print()

In [ ]:
# Funci贸n Print()
print("Hola mundo") #str va con ""
print(1,2,3) #numeros separados por coma
print(3.14) #floats con punto

Hola mundo
1 2 3
3.14

In [ ]:
#Con saltos de linea
print(1)
print(2)
print(3)

1
2
3

In [ ]:
#especificar el final
print(1,end=",")
print(2,end=",")
print(3)

1,2,3

In [ ]:
#especificar separador
print(1,2,3,sep="-")
print(1,2,3,sep="-",end=":")

1-2-3
1-2-3:

In [ ]:
#imprimir variables
#metodo format
print("Mis valores son {}, {}, {}".format(1,2.25,True)) #.format reemplaza los {} por los valores q le de

Mis valores son 1, 2.25, True

In [ ]:
#metodo f-string
a = 1
b = 2
c = "Giuliana"
print(f"Mis valores son {a}, {b} y {c}") #La f especifica q los {} son funciones

Mis valores son 1, 2 y Giuliana

# Variables

Las variables son contenedores de memoria que hacen referencia a un objeto:

* int
* string
* bool
* date

En Python las toda entidad (representaci贸n de la realidad) es un objeto con atributos y metodos (acciones)

Para definiri una variable:
* solo mayus, minus, digitos, guion bajo
* case sensitive
* no usar keywords
* convenci贸n: snake_case (hay otras como camelCase y PascalCase)

In [ ]:
mi_variable_int = 2
mi_variable_float = 2.25
mi_variable_bool = True
mi_variable_str = "Hola"

print(mi_variable_int)
print(mi_variable_float)
print(mi_variable_bool)
print(mi_variable_str)

2
2.25
True
Hola

**Asignaci贸n y definici贸n**

`Definir`: es por primera vez

`Asignar`: se va dando a media que se actualiza el valor de la variable

In [ ]:
#Asignaci贸n simple
mi_variable_int = 2
print(mi_variable_int)

2

In [ ]:
#Asignaci贸n aumentada
"suma"
a = 2
a += 1 #asignaci贸n aumentada en 1
print(mi_variable_int)

"multiplicaci贸n"
b = 12
b *= 2 #asignaci贸n multiplicada en 2
print(b)

"divisi贸n"
c = 5
c /= 2
print(c)

3
24
2.5

In [ ]:
#Asignaci贸n m煤ltiple
a = b = c = 3
print(a,b,c)

3 3 3

# Constantes

Las constantes se declaran en may煤scula

In [ ]:
VELOCIDAD_LUZ = 300_000
PRESIN_ATM = 1.01325
PI = 3.1416
print(VELOCIDAD_LUZ)
print(PRESIN_ATM)
print(PI)

300000
1.01325
3.1416

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**bold text**# Ejercicios

 **Parte 1: Ejercicio de clase**

- Definir 3 variables (`producto1`, `producto2`, `producto3`) que representen los distintos productos o SKU de un ecommerce y los precios de los mismos (`precio1`, `precio2`, `precio3`)

- Imprimir en pantalla un mensaje con un texto que indique la promoci贸n/oferta del produtco3 ante la compra del 1 y 2. Utilice notaci贸n `f-string`

In [ ]:
producto_1 = "Remera"
producto_2 = "Bermuda"
producto_3 = "Buzo"
precio_1 = 150
precio_2 = 100
precio_3 = 200

print(f"Comparando una {producto_1} de ${precio_1} y una {producto_2} de ${precio_2}, obten茅s un {producto_3} de regalo",)

Comparando una Remera de $150 y una Bermuda de $100, obten茅s un Buzo de regalo

答 Parte 1: Ejercio tarea 1

Define una variable a num茅rica igual a 5 y una b que sea float igual a 1.61 (n煤mero Aureo).
Aumenta en 3 el valor de a asignaci贸n aumentada.
Potencia en 2 el valor de b.
Imprimir el resultado final de a en pantalla y compartirlo con la comunidad.

In [ ]:
a = 5
b = 1.61
a +=3
b **=2 #multiplicar es * y potencia es **

print({a},{b})

{8} {3.22}

答 **Parte 1: Ejercicio de tarea 2**

- Define una constante llamada `GRAVEDAD`
- Define una variable `b` y as铆gnale el valor de la constante `GRAVEDAD`.
- Imprimir el valor de `b` en pantalla

In [ ]:
GRAVEDAD = 9.81
b = GRAVEDAD
print(b)

9.81

# Strings

La funci贸n id() da un identificador 煤nico por cada ubicaci贸n de variable.

In [ ]:
a = 1
b = "Hola"
c = False

print(f"El espacio en memoria de a es: {id(a)}")
print(f"El espacio en memoria de b es: {id(b)}")
print(f"El espacio en memoria de c es: {id(c)}")

El espacio en memoria de a es: 138074214252784
El espacio en memoria de b es: 138072932865072
El espacio en memoria de c es: 101895553315840

**Strings**

Son cadenas de caracteres inmutables, existen diferentes m茅todos que puede ser utilizados con los strings:
  - `capitalize()`: Convetir primer caracter en UPPER Case.
  - `count()`: Cuenta la cantidad de ocurrencias de un strung dentro del string general.
  - `startswith()` y `endswith()`: Retorna True si la cadena empieza o termina con un valor especificado.
  - `len()`: Devuelve la cantidad de letras del string.
  - `find()`: Devuelve la posici贸n del string en caso de encontrarlo.

In [ ]:
mi_string = "alejito es re lindo, y lo amo mucho"

In [ ]:
print(mi_string.capitalize()) #primera letra mayuscula
print(mi_string.count("o")) #cuenta la cantidad de veces que hay una o
print(mi_string.startswith("ale")) #true o false
print(mi_string.endswith("e")) #true o false
print(len(mi_string)) #cantidad de letras
print(mi_string.find("a")) #posicion del string (0 = primera posici贸n)

Alejito es re lindo, y lo amo mucho
5
True
False
35
0

Los string son **iterables**, es decir, que podemos acceder a sus elementos.

In [ ]:
elemento_0 = mi_string[0]
print(elemento_0)

a

Los strings tambi茅n se pueden **concatenar**

In [ ]:
string_1 = "Hola"
string_2 = "Mundo"
concatenados = string_1 + " " + string_2
print(concatenados)

Hola Mundo

Los strings se pueden **convertir en listas**

In [ ]:
string_a_lista = list(concatenados)
print(string_a_lista)

['H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o']

Los strings son **INMUTABLES**, es decir, que no se pueden alterar.

In [ ]:
concatenados[0] = "J"

NameError: name 'concatenados' is not defined

#Integers y Floats

Los int y float son inmutables, y las operaciones m谩s comunes con los mismos son:

- Suma, resta, multiplicaci贸n
- Divisi贸n flotante, entera, resto
- Potencia, ra铆z
- Incremento, decremento

In [ ]:
#SUMA, RESTA, MULTIPLICACIN
a = 5
b = 2
c = 3
suma = a + b + c
resta = a - b - c
multiplicaci贸n = a * b * c

print(suma)
print(resta)
print(multiplicaci贸n)

10
0
30

In [ ]:
#DIVISIN ENTERA, FLOTANTE, RESTO
division_flotante = a/b #sin coma
division_entera = a//b #con coma
resto = a%b #resto solamente

print(division_flotante)
print(division_entera)
print(resto)

2.5
2
1

In [ ]:
#POTENCIA, RAZ
#para esto es necesario importar el m贸dulo math

from math import sqrt
ra铆z = sqrt(a)
potencia = a ** b

print(ra铆z)
print(potencia)

2.23606797749979
25

#Booleans

Los bool son inmutables y suelen utilizarse las siguiente operaciones:
- Comparaci贸n
- Negaci贸n
- Conjunci贸n
- Disyunci贸n
- Casteo a int

In [ ]:
#COMPARACIN
print(10 == 8) #igual a
print(10 > 5) #mayor que
print(10 < 5) #menor que
print(10 != 5) #diferente que

False
True
False
True

In [ ]:
#NEGACIN
x = True
y = False
print(not x) #lo que no es X
print(not y) #lo que no es y

False
True

In [ ]:
#DISYUNCIN
x = True
y = False
print(x or y)

True

#Date

- D铆a, mes a帽o
- D铆a de la semana
- Comparar fechas
- Sumar y restar d铆as
- Formatear como string

Hay que importar el m贸duclo `datetime`

In [ ]:
from datetime import date, timedelta

In [ ]:
#DEFINICIN
fecha = date(2024, 5, 1) #AO, MES, DA

In [ ]:
#OBTENER DA, MES Y AO
dia = fecha.day
mes = fecha.month
a帽o = fecha.year
print(dia, mes, a帽o)

1 5 2024

In [ ]:
#OBTENER DA DE LA SEMANA
dia_semana = fecha.weekday() #toma al lunes como 0 (primer d铆a)
print(dia_semana)

2

In [ ]:
#COMPARAR FEHCAS
fecha_2 = date(2024, 5, 7)
es_anterior = fecha > fecha_2
print("La fecha 2 es anterior?", es_anterior)

La fecha 2 es anterior? False

In [ ]:
#SUMAR O RESTAR DAS
fecha_3 = fecha + timedelta(days=5) #sumar 5 d铆as
print(fecha_3)

2024-05-06

In [ ]:
#CALCULAR DIFERENCIA ENTRE DAS
diferencia = fecha_2 - fecha
print(diferencia)

6 days, 0:00:00

In [ ]:
#FORMATERA FECHA COMO CADENA
fecha_formateada = fecha.strftime("%d/%m/%Y") #formato strftime
print(fecha_formateada)

01/05/2024

#M茅todo type (). Castear una variable

Conocer el tipo de variable

In [ ]:
variable_1 = "Hola"
variable_2 = 10
variable_3 = 10.5

print(type(variable_1))
print(type(variable_2))
print(type(variable_3))

<class 'str'>
<class 'int'>
<class 'float'>

Cambiar el tipo de variable

In [ ]:
casteo = str(variable_2) #no modifico la var original
print(type(variable_2))
print(type(casteo))

<class 'int'>
<class 'str'>

#Funciones

  **Built-in**: son predefinidas en Python y est谩n disponibles en cualquier momento. `print()`, `input()`, `len()`, `range()`


  **User Defined**: son creadas por el programados para hacer tareas espec铆ficas. Se definen usando `def`

In [ ]:
def suma(a, b): #esta funcion recibe DOS valores int o float
  return a + b

resultado = suma(3, 6)
print(resultado)

9

**Funci贸n `input()`**

Funci贸n integrada que se usa para solicitar al usuario que ingrese datos desde el teclado y devuelve la entrada del usuario como un `string`.

In [ ]:
#EJEMPLO

nombre = input("Ingrese su nombre: ")
apellido = input("Ingrese su apellido: ")

#CONCATENAR NOMBRE Y APELLID0
print("Hola, " + nombre + " " + apellido) #opci贸n 1

mensaje = f"Hola, {nombre} {apellido}" #opci贸n 2
print(mensaje)

Ingrese su nombre: Alejito
Ingrese su apellido: Peque帽ito
Hola, Alejito Peque帽ito
Hola, Alejito Peque帽ito

**Documentaci贸n**

Obtenemos la documentaci贸n de la funci贸n con el m贸dulo `help()`

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Tambi茅n se puede ver con el m茅todo `__doc__`

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

#  Ejercicios 2

 Parte 2 - Ejercicio de clase:

- Define una funci贸n llamada `calcular_promedio` que tome tres par谩metros (notas) y devuelva el promedio de esos valores.
- Define tres variables `nota1`, `nota2` y `nota3`, y as铆gnales valores num茅ricos.
Llama a la funci贸n `calcular_promedio` con las tres variables `nota1`, `nota2` y `nota3` como argumentos y almacena el resultado en una nueva variable llamada promedio.
- Imprime el valor del promedio calculado.

In [ ]:
#Definir la funci贸n
def calcular_promedio(a, b, c):
  return (a + b + c) / 3

#Definir variables
nota1 = input("Ingrese la nota 1: ")
nota2 = input("Ingrese la nota 2: ")
nota3 = input("Ingrese la nota 3: ")

promedio = calcular_promedio(int(nota1), int(nota2), int(nota3))
print(promedio)

Ingrese la nota 1: 10
Ingrese la nota 2: 4
Ingrese la nota 3: 6
6.666666666666667

Parte 2 - Ejercicio de tarea 1:

- Define una funci贸n llamada `mostrar_id` que tome un argumento variable.
Dentro de la funci贸n, imprime el ID de la variable utilizando la funci贸n `id()`.
- Llama a la funci贸n con diferentes tipos de variables (al menos 3) y mostrar c贸mo cambian sus IDs. 驴Est谩 bien que no coincidan?

In [ ]:
def mostrar_id(variable):
  print("El ID de la variable es: ", id(variable))

mostrar_id(5)
mostrar_id("Hola")
mostrar_id([1, 2, 3])

El ID de la variable es:  134043109671280
El ID de la variable es:  134041828791664
El ID de la variable es:  134041828419904

#Condicionales

Condicional Simple

In [ ]:
a = 1
b = 10

if a > b:
  print(a," es mayor a ", b)
else:
  print(b," es mayor a ", a)

10  es mayor a  1

Condicional Anidado

In [ ]:
a = 1
b = 2

if (a ==1 or b == 2 or a < b):
  print("Condiconales anidados")

Condiconales anidados

Varias condiciones. Uso de `elif()`

In [ ]:
if a + b == 3:
  print("a + b es igual a 3")
elif a + b == 4:
  print("a + b es igual a 4")
elif a + b == 5:
  print("a + b es igual a 5")
else:
  print("condicions no contemplada")

a + b es igual a 3

Match y case

Uso simialr a if/else pero la notaci贸n queda m谩s limpia. Para casos que NO tengo muchos condicionales complejos.

In [ ]:
x = 10

match x:
  case 1:
    print ("x es igual a 1")
  case 5:
    print ("x es igual a 5")
  case _:
    print ("x no es ni 1, ni 5") #no es..

x no es ni 1, ni 5, ni 10

#Ejercicios parte 3:

 Parte 3 - Ejercicio de clase

- Escribe un programa que solicitar谩 al usuario que ingrese su `edad` y su `nombre`.
- Verificar谩 si el usuario tiene al menos 18 a帽os y si su nombre comienza con la letra 'A' o 'a'. Si ambas condiciones se cumplen, el programa imprimir谩 un mensaje de acceso concedido; de lo contrario, imprimir谩 un mensaje de acceso denegado.

In [ ]:
edad = int(input("Ingrese su edad: "))
nombre = input("Ingrese su nombre: ")

if edad >= 18 and (nombre[0] == "A" or nombre[0] == "a"):
  print("Acceso concedido")
else:
  print("Acceso denegado")

Ingrese su edad: 24
Ingrese su nombre: Alejito
Acceso concedido

Parte 3 - Ejercicio de tarea 1
- Escribe un programa que solicite al usuario que ingrese dos n煤meros.
- Luego, el programa debe calcular el resultado al cuadrado sumando el cuadrado de cada n煤mero. Si el resultado es mayor a 100, el programa debe imprimir "Supera la superficie m谩xima". En caso contrario, debe imprimir "Superficie habilitada".

*Tip: Recuerda que cuando utilizas la funci贸n `input()` debes asegurarte que el valor a sumar es int/float casteando el dato ingresado con los m茅todos vistos*

In [ ]:
num_1 = int(input("Ingrese un n煤mero: "))
num_2 = int(input("Ingrese otro n煤mero: "))

resultado = (num_1 ** 2) + (num_2 ** 2)

if resultado > 100:
  print("Supera la superficie m谩xima")
else:
  print("Superficie habilitada")

Ingrese un n煤mero: 5
Ingrese otro n煤mero: 11
Supera la superficie m谩xima