<a href="https://colab.research.google.com/github/giulialvaro/python-levelup/blob/main/Clase_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Condicionales

 - Condicionales m치s usados: `if/else/elif`
 - Otros condicionales: `match/case`

In [ ]:
#CONDICIONAL SIMPLE
num_1 = 1
num_2 = 20

if num_1 < num_2:
  print("El numero 1 es menor que el numero 2")
else:
  print("El numero 1 no es menor que el numero 2")

El numero 1 es menor que el numero 2

In [ ]:
#CONDICIONES ANIDADAS (mismo tipo de datos)

if num_1 < num_2 or num_1 == num_2:
  print("El numero 1 es menor o igual que el numero 2")
elif num_1 == num_2:
  print("El numero 1 es mayor que el numero 2")

El numero 1 es menor o igual que el numero 2

In [ ]:
#CONDICIONES ANINDADAS (diferentes tipos de datos)
edad = 24
es_miembro = True

if edad >= 18 and es_miembro: #o sea, si es true
  print("Puede entrar")
else:
  print("No puede entrar")

Puede entrar

**ELIF**

In [ ]:
puntuacion = 85

#determinar la calificaci칩n
if puntuacion >= 90:
  calificaci칩n = "A"
elif puntuacion >= 80:
  calificaci칩n = "B"
elif puntuacion >= 70:
  calificaci칩n = "C"
elif puntuacion >= 60:
  calificaci칩n = "D"
else:
  calificaci칩n = "F"

print (f"La calificaci칩n es: {calificaci칩n}")

La calificaci칩n es: B

Usamos `input()` para recibir el dato del usuario.

REMINDER: el dato es `string` por default y debe ser casteado a `int`

In [ ]:
#pedimos los datos
edad = int(input("Ingrese su edad: "))

#en base a ese input, determinamos la categoria
if edad >= 18:
  print("Zona A")
elif edad >= 12:
  print("Zona B")
else:
  print("No puede entrar")

Ingrese su edad: 48237
Zona A

Condicionales a base de distintos tipos de datos

In [ ]:
#Datos
club = input("Ingresa tu club: ")
edad = int(input("Ingresa tu edad: "))

#Determinamos la categoria. misma edad, diferente club
if edad <10 and club == "Boca":
  print ("Infantiles")
elif edad <10 and club == "Independiente":
  print ("Sub -10")
elif edad >=10:
  print ("Adulto")
else:
  print ("No tenemos ese club en nuetra base")

Otros condicionales: `match/case`

Cuando los condiconales a evaluar no son demasiado complejos. Otorga una sintaxis m치s legible y sencilla.

In [ ]:
x = 10
match x:
  case 1:
    print("x es igual a 1")
  case 2:
    print("x es igual a 2")
  case _:
    print ("x no es ni 1 ni 2")

x no es ni 1 ni 2

M치s complejos:
 - El caracter `|` es la representaci칩n de `or`
 - El caracter `_` representa cualquier otro caso

In [ ]:
edad = int(input("Ingrese su edad: "))

match edad:
  case 0 | 1 | 2 | 3 | 4 | 5:
    print("Infante")
  case 6 | 7 | 8 | 9 | 10:
    print("Ni침o")
  case 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18:
    print("Adolescente")
  case _:
    print("Adulto")

#游닇Ejercicios Parte 1


Escribe un programa en Python que solicite al usuario que ingrese un n칰mero.
- Determinar si el n칰mero ingresado es positivo, negativo o cero, e imprimir el resultado correspondiente en pantalla.
- Si es positivo multuplicar el n칰mero por 2
- Si es negativo multuplicar el n칰mero por 3
- Imprimir los resultados en pantalla

In [ ]:
num = int(input("Ingrese un n칰mero: "))

if num > 0:
  resultado = num * 2
  print(f"El resultado es: {resultado}")
elif num < 0:
  resultado = num * 3
  print(f"El resultado es: {resultado}")
else:
  print("El n칰mero es cero")

#Listas

Permiten almacenar objetos mediante un orden definido (son una collecion ordenada).

- Permiten dupicados
- Permiten distintos tipos de datos
- Son mutables
- Se usan cuando se requiere orden e indexacion

In [ ]:
#LISTA VACIA
lista_vacia = []
print(lista_vacia)

#HOMOGENA - mismo tipo de datos
lista_homogenea = [1, 2, 3, 4, 5]
print(lista_homogenea)

#HETEROGENA - diversos tipos de datos
lista_heterogenea = [1, "Hola", 3.14, True]
print(lista_heterogenea)

[]
[1, 2, 3, 4, 5]
[1, 'Hola', 3.14, True]

Operaciones con listas

1. Obtener un elemento

In [ ]:
compras = ['Frutas','Verduras','Pan']
print(compras[0])
print(compras[1])

Frutas
Verduras

2. Trocear una lista

In [ ]:
trozo1 = compras[1:] #elementos 0, 1
print(trozo1)

['Verduras', 'Pan']

3. Obtener un rango de elementos

In [ ]:
trozo2 = compras[1::2] #elemento 1
print(trozo2)

['Verduras']

4. Invertir una lista

In [ ]:
lista = ['Boca','River','Independiente']
lista.reverse() #1
lista_invertida = list(reversed(lista)) #2
print(lista)
print(lista_invertida)

['Independiente', 'River', 'Boca']
['Boca', 'River', 'Independiente']

5. Anadir elementos `append()`

In [ ]:
lista3 = []
lista3.append("Hola")
lista3.append("Mundo")
print(lista3)

['Hola', 'Mundo']

6. Combinar listas

In [ ]:
lista1 = ['Huevos', 'Calabaza', 'Verdura']
lista2 = ['Carne', 'Pollo', 'Legumbres']

# Conservando lista original: "+" o "+="
compras = lista1 + lista2
print(compras)

['Huevos', 'Calabaza', 'Verdura', 'Carne', 'Pollo', 'Legumbres']

7. Bollar elementos `remove()`

In [ ]:
# Por el elemento: remove()
lista = ['Huevos', 'Calabaza', 'Verdura']
print(lista)
lista.remove('Verdura')     # Si hay Duplicados: Solo borra la primer existencia.
print(lista)

['Huevos', 'Calabaza', 'Verdura']
['Huevos', 'Calabaza']

8. Pertenencia de elementos `is in`

In [ ]:
lista = ['Huevos', 'Calabaza', 'Verdura', 'Jamon', 'Arroz']
pertenencia1 = 'Arroz' in lista
pertenencia2 = 'Sal' in lista
print(pertenencia1, pertenencia2)

True False

9. Ordenar una lista `sort()`

In [ ]:
lista = ['Huevos', 'Calabaza', 'Verdura', 'Jamon', 'Arroz', 'Verdura']
ordenada = sorted(lista)
print(ordenada)
# ordenada = sorted(lista, revserse = True)  En sentido inverso

['Arroz', 'Calabaza', 'Huevos', 'Jamon', 'Verdura', 'Verdura']

10. Iterar `indice` y `elemento`: `enumerate`

In [ ]:
lista = ['Huevos', 'Calabaza', 'Verdura', 'Jamon', 'Arroz', 'Verdura']
for indice, elemento in enumerate(lista):
    print(indice, elemento)

0 Huevos
1 Calabaza
2 Verdura
3 Jamon
4 Arroz
5 Verdura

11. Copiar una lista `copy()`

In [ ]:
listaA = ['Real Madrid', 'Barcelona','Atletico de Madrid']
listaB = listaA.copy()   # Se crea una nueva lista
print(listaB)

['Real Madrid', 'Barcelona', 'Atletico de Madrid']

#Sets

Serie de valores 칰nicos **sin orden establecido**.  

- Soportan diferentes tipos de datos
- Soportan operaciones de Union, Intersecci칩n y diferencia.
- Se eliminan autom치ticamente los duplicados
- Uso: Cuando se necesita asegurar valores 칰nicos y realizar operaciones de conjuntos.
- Mutables

In [ ]:
#DEFINIR CONJUNTO
set_vacio = {}
set1 = {1, 2, 3, 4, 5}

print(set_vacio)
print(set1)

{}
{1, 2, 3, 4, 5}

1. Eleminar duplicados

In [ ]:
set1 = {1, 2, 3, 4, 5, 5, 5}
print(set1)

{1, 2, 3, 4, 5}

2. Obetener elemento

No se puede obtener un elemento as칤 como hacemos en las `listas` ya que son una colecci칩n desordenada de elementos 칰nicos.

3. Anadir un elemento `add()`

In [ ]:
# Notar que se a침aden de forma ordenada
set = {1, 3, 4, 10}
set.add(5)
set.add(1.2)
set.add(0.5)
print(set)

{0.5, 1, 1.2, 3, 4, 5, 10}

4. Remover un elemento remove()

In [ ]:
set = {1, 3, 4, 10}
set.remove(10)
print(set)

{1, 3, 4}

5. Pertenencia `in` o `not in`

In [ ]:
set = {1, 3, 4, 10}
print(1 in set)
print(1 not in set)

True
False

6. Interseccion de conjuntos `&` e `intersection()`

In [ ]:
set1 = {1, 2}
set2 = {2, 3}

# Metodo 1
intersection1 = set1 & set2
print(intersection1)

# Metodo 1
intersection2 = set1.intersection(set2)
print(intersection2)

{2}
{2}

7. Union de conjuntos `|` y `union()`

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
# Metodo 1
union1 = set1|set2
# Metodo 2
union2 = set1.union(set2)
print(union1)
print(union2)

{1, 2, 3}
{1, 2, 3}

8. Diferencia simetrica

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
dif1 = set1 ^ set2
dif2 = set1.symmetric_difference(set2)
print(dif1)
print(dif2)

{1, 3}
{1, 3}

10. Diferencia no simetrica

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
dif1 = set1 - set2
dif2 = set1.difference(set2)
print(dif1)
print(dif2)

{1}
{1}

#Matrices

Una matriz es una estructura de datos **bidimensional** que contiene elementos dispuestos en filas y columnas. Las matrices generalmente se representan utilizando **listas anidadas**. Una matriz es simplemente una colecci칩n bidimensional de elementos, donde cada elemento est치 organizado en filas y columnas.

In [ ]:
#DEFINIR UNA MATRIZ 2 x 3
matriz = [
    [1,2,3],
    [4,5,6]
]
print(matriz)

[[1, 2, 3], [4, 5, 6]]

1. Obtener un elemento de una matriz

In [ ]:
matriz = [
    [1, 2, 3],
    [4, 5, 6]
]
print("La 1er fila de mi matriz es ",matriz[0])
print("El 3er elemento de la 1er fila es ",matriz[0][2])

La 1er fila de mi matriz es  [1, 2, 3]
El 3er elemento de la 1er fila es  3

In [ ]:
# Uniendo sus elementos mediante alg칰n 'separador'
lista = ['Huevos', 'Calabaza', 'Verdura', 'Jamon', 'Arroz', 'Verdura']
string1 = ','.join(lista)
string2 = '|'.join(lista)
print(string1)
print(string2)
# Esta funci칩n es la opuesta a 'split()' en strings

Huevos,Calabaza,Verdura,Jamon,Arroz,Verdura
Huevos|Calabaza|Verdura|Jamon|Arroz|Verdura

#游닇Ejercicios Parte 2

游녤 Parte 2 - Ejercicio de clase

Definir una lista de productos de un local de comida para obtener el maestro de produtos
- Hamburguesa Moon
- Mega panchos
- Nuggets extra queso
- Empanadas

Se contrata un nuevo proveedor el cual adiciona 2 nuevos productos a nuestro maestro que antes no estaban:
- Super pancho doble
- Pizza individual

De la misma forma, el proveedor de el art칤culo `empanadas` deja de producir en el pais.

Definir una lista que contenga el maestro de productos inicial y realizarle las actualizaciones correspondientes imprimiendo el maestro inicial y el final.

In [ ]:
#creacion de la lista
productos = ['Hamburguesa Moon', 'Mega panchos', 'Nuggets extra queso', 'Empanadas']
print(productos)

#anadir dos productos
productos.append('Super pancho doble')
productos.append('Pizza individual')
print(productos)

#eliminar empanadas
productos.remove('Empanadas')
print(productos)

['Hamburguesa Moon', 'Mega panchos', 'Nuggets extra queso', 'Empanadas']
['Hamburguesa Moon', 'Mega panchos', 'Nuggets extra queso', 'Empanadas', 'Super pancho doble', 'Pizza individual']
['Hamburguesa Moon', 'Mega panchos', 'Nuggets extra queso', 'Super pancho doble', 'Pizza individual']

游삢游낕 Parte 2 - Ejercicio de tarea 1

Dada la siguientes `lista` en Python correspondiente a la n칩mina inicial de la selecci칩n juvenil de futbol mixto del Club MateAmargo:
`['Juan', 'Micaela', 'Emilia', 'Cecilia', 'Juan Manuel', 'Valentina', 'Luciano']`
- Recientemente se sumaron al equipo: "Augusto" y "David". Agregar dichos elementos a la lista inicial.
- Adem치s Juan tuvo que salir de la lista por estar fuera por lesi칩n durante al menos 6 meses.
- Sumar a la lista inicial concatenando la lista de suplentes: `['Julieta', 'Jose', 'Franco']`
- Realizar una copia de 'back up' de la nomina y guardarlo en una nueva variable `lista_backup`

In [ ]:
lista = ['Juan', 'Micaela', 'Emilia', 'Cecilia', 'Juan Manuel', 'Valentina', 'Luciano']
lista.append('Augusto')
lista.append('David')
lista.remove('Juan')
lista.extend(['Julieta', 'Jose', 'Franco'])
lista_backup = lista.copy()
print(lista)
print(lista_backup)

['Micaela', 'Emilia', 'Cecilia', 'Juan Manuel', 'Valentina', 'Luciano', 'Augusto', 'David', 'Julieta', 'Jose', 'Franco']
['Micaela', 'Emilia', 'Cecilia', 'Juan Manuel', 'Valentina', 'Luciano', 'Augusto', 'David', 'Julieta', 'Jose', 'Franco']

游삢游낕 Parte 2 - Ejercicio de tarea 2

Dados los siguientes conjuntos:
-  `c1 = {1, 2, 'Juan', 'Maria', True, 5.55, 24.3}`
-  `c2 = {1, 10, 'Diego', 'Karina', False, True, 33.3}`

Obtener la `interseccion` y la `union` de los conjuntos e imprimir en pantalla el resultado.

In [ ]:
c1 = {1, 2, 'Juan', 'Maria', True, 5.55, 24.3}
c2 = {1, 10, 'Diego', 'Karina', False, True, 33.3}

interseccion  = c1.intersection(c2)

union = c1.union(c2)

print(interseccion)
print(union)

{1}
{'Diego', 1, 2, False, 33.3, 5.55, 10, 'Juan', 'Karina', 24.3, 'Maria'}

#Bucles

Bucle `for`


Recordatorio: S칩lo podemos recorrer objetos `iterables`:
- Strings
- Listas
- Tuplas
- Set (Conjuntos)
- Diccionarios

Nota: Listas, Tuplas, Set y Diccionarios ser치n profundizados m치s adelante.

In [ ]:
#BUCLE FOR SIMPLE
rango = range(0,10)

for numero in rango:
  print(numero)

0
1
2
3
4
5
6
7
8
9

Uso del `break`

In [ ]:
rango = range (0,50)

for numero in rango:
  if numero == 7:
    break
  print(numero)

0
1
2
3
4
5
6

Uso de `continue`

In [ ]:
#SIN CONTINUE
for i in range(5):
  if i % 2 == 0:
    print(f'{i} es par')
  print('Esta linea se ejecuta siempre') # Sin el continue: La ejecuci칩n llega hasta esta l칤nea.

0 es par
Esta linea se ejecuta siempre
Esta linea se ejecuta siempre
2 es par
Esta linea se ejecuta siempre
Esta linea se ejecuta siempre
4 es par
Esta linea se ejecuta siempre

In [ ]:
#CON CONTINUE
for i in range(5):
    if i % 2 == 0:
        print(f"{i} es par")
        continue
    print("Esta l칤nea se ejecuta solo si i no es par") # Con el continue: La ejecuci칩n NO llega hasta esta l칤nea (contin칰a la siguiente vuelta).

0 es par
Esta l칤nea se ejecuta solo si i no es par
2 es par
Esta l칤nea se ejecuta solo si i no es par
4 es par

Iterando una lista

In [ ]:
# Lista de productos del supermercado
productos = ["Leche", "Huevos", "Pan", "Manzanas", "Arroz", "Pasta"]

# Iterar sobre la lista de productos e imprimir cada uno en pantalla
print("Lista de compras:")
for producto in productos:
    print(producto)

Lista de compras:
Leche
Huevos
Pan
Manzanas
Arroz
Pasta

For con condicionales

In [ ]:
lista_nombres = ["Pedro", "Juan", "Diego", "Luis", "Miguel", "Carlos", "Matias"]

for nombre in lista_nombres:
  if nombre == "Pedro" or nombre == "Juan":
    print(f"Evaluacion 1 - {nombre} se encuentra en el Equipo A")
    continue
  elif nombre == "Diego" or nombre == "Luis":
    print(f"Evaluacion 2 - {nombre} se encuentra en el Equipo B")
    continue
  elif nombre == "Miguel" or nombre == "Carlos":
    print(f"Evaluacion 3 - {nombre} se encuentra en el Equipo C")
    continue
  print('No encontrado')
  # Comentar el `continue` de cada condici칩n y descomentar ac치 para analizar el comportamiento.

Evaluacion 1 - Pedro se encuentra en el Equipo A
Evaluacion 1 - Juan se encuentra en el Equipo A
Evaluacion 2 - Diego se encuentra en el Equipo B
Evaluacion 2 - Luis se encuentra en el Equipo B
Evaluacion 3 - Miguel se encuentra en el Equipo C
Evaluacion 3 - Carlos se encuentra en el Equipo C
No encontrado

# New Section